body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_text.mid{
    color: #bc2828;
    font-weight: 800;
}
.link_clicker.mid{
    border: #bc2828 2px solid ;
}
.base{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 1280px;
    min-width: 1080px;
    height: 640px;
    margin: auto;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
}
.profile{
    padding-top: 100px;
    width: 1280px;
    height: 280px;
    opacity : 0;
}
.lightii_image{
    height: 169px;
    width: 169px;
    margin: auto;
}
.lightii_container{
    display: flex;
    justify-content: space-around;
}

.name{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 800;
    margin-top: 24px;
    text-align: center;
}

.description{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
    text-align: center;
}

.name_container{

}

.link_clicker{
    border: black 2px solid;
    width: 108px;
    height: 42px;
    opacity: 0;
    padding-bottom: 20px;
    cursor: pointer;
}

.link_text{
    height:34px;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    margin-top: 12px;
    text-align: center;
    opacity: 0;
    padding-bottom: 20px;
    cursor: pointer;
    transition-duration: 250ms;
}
.link_text:hover{
    font-weight: 800;
}
.hrmain{
    width: 860px;
    margin-bottom: 64px;
}

.work_container{

}

.upper_group{
    padding-left: 240px;
    padding-right: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.lower_group{
    padding-left: 240px;
    padding-right: 240px;
    display: flex;
    justify-content: space-between;
}